header{
    background-color: rgb(22, 146, 22);
    color:white;
    padding: 10pt;
    text-align: center;
}
nav{
    background-color: rgba(27, 26, 26, 0.932);
    color :rgb(172, 13, 13);
    padding: 10pt;
    text-align: center
}
main {
    background-color: rgb(233, 250, 157) ;
}
footer{
    background-color: rgba(27, 26, 26, 0.932);
    color :white;
    padding: 10pt;
    text-align: center
}