header{
    background-color: rgb(22, 146, 22);
    color:white;
    padding: 10pt;
    text-align: center;
}
nav a{
    \background-color: rgba(146, 141, 141, 0.473);
    position: relative;
    padding: 10pt;
    text-align: center;
    text-decoration: none;
}

main {
    background-color: rgb(233, 250, 157) ;
}
footer{
    background-color: rgba(27, 26, 26, 0.932);
    color :white;
    padding: 10pt;
    text-align: center
}
.container{
  position: relative;
}
.texto{
    position: absolute;
    color: white;
    font-weight: bold;
    top: 10px;
    left:10px;
}


.fotografias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  transition:widht 2s;
  }

.fotografias img{
    width: 150px;
    height: 150px;
  border-radius: 20px;
}

.fotografias:hover{
  :hover{ width: 300px; height: 300px}
}

.poesia {
    :nth-child(1){
      color: blue;
                }
    :nth-child(2n){
      color: grey
                }
}

.infoContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 200px 300px;
  gap: 10px;
  padding: 10;
}

@media (max-width: 600px) {
  header, nav {
    display: flex;
    flex-direction: column;
  }
}